.App {
  text-align: center;
  color: #666;
font-family: "Source Sans Pro", Helvetica, sans-serif;
font-size: 16pt;
font-weight: 300;
line-height: 1.65em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: #4361c2;
  font-weight: bold;
  margin-right: 8px;
  padding-right: 2%;
}

